<template name='home'>
  <div class="container">
    <h1>The Michael Komape Campaign for School Infrastructure</h1>
    
    <div class="aboutTheNorms">
      <h3>What are the Norms and Standards?</h3>

      <p>The Minimum Norms & Standards for School Infrastructure is a binding legal document written by the National Department of Basic Education that says what infrastructure each and every school must have.</p>

      <p>[Simplified timeframe photos/icons]</p>
      
      <a href=http://www.equaleducation.org.za/campaigns/minimum-norms-and-standards>Read more about the Norms and Standards [link to about page]</a>
      
    </div>
    
    <div class="dashboard">
      
      <p>[Snapshot of reporting dashboard]</p>

    </div>
    
    <div class="aboutEE">
      <h3>Who is Equal Education</h3>
				
        <p>Equal Education is a movement of learners, parents, teachers, and community members working for quality and equality in South African education through analysis and activism.</p>
        
    </div>

    <div class="ecplansHome">

       <a href="/school_profile">Find out if your school is in the Eastern Cape’s plans</a>
       
    </div>


  </div>
</template>


