<template name="about">
  
  <div class="row">
         <div class="collection">
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=ibIphhew3Eo%3D&tabid=759&mid=3094" target="_blank" class="collection-item        ECDoc">Eastern Cape Norms and Standards Implementation Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=P2PXp%2b%2bRskA%3d&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Infrastructure Plan</a>
          <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=wEBI6jpG%2b7k%3d&tabid=615&mid=2034" target="_blank" class="collection-item ECDoc">ASIDI Eastern Cape Plan</a>
        </div>
      </div>


</template>