<template name="about">
  <div class="container">
    
    <div class="section">
        <div class="row">
          <div class="col s12">
          
            <h3>What is Equal Education?</h3>

            <p>EE is a community and membership-based organisation. It advocates for quality and equality in the South African education system and engages in evidence-based activism for improving the nation's schools. It is a leader in youth leadership development. EE's campaigns, based on detailed research and policy analysis, are aimed at achieving quality education for all.<br>
            <br>
            We promote the rights to equality and education, with the firm belief that these will enable the poor and working classes to an equal opportunity in life.</p>

            <p>Education is an end in itself. Also,education helps one to understand and demand the full realisation of the rights enshrined in the Constitution. Led by young activists, EE seeks to improve the poor quality of education in South Africa by working together with communities, schools, teachers, principals, learners, parents, academics, researchers and the government. We build an understanding of the educational system, whilst drawing attention to problems faced by schools and their communities. Equipped with this knowledge, EE offers a new way for people to participate in the democratic system and bring change to education and society.</p>

            <h4>History of Equal Education</h4>

            <p>The organisation began in February 2008 by conducting research in schools in Khayelitsha (a working-class community in Cape Town, with a population of approximately 700,000 people, and 54 schools). Schools in Khayelitsha, like those in other poor communities, are under-resourced, under-staffed and overcrowded - factors which have a significantly negative impact on academic performance. EE began with the aim of supporting the many hardworking teachers and determined learners within the community who are battling in difficult conditions.</p>

            <p>Today EE is known nationally, and has members active in most provinces. The Head Office remains in Khayelitsha, where it intends to stay. EE has active branches across the country.</p>

            <p>Equal Education's most active members are called 'Equalisers'. They are high school students in grades 8 to 12. Equalisers have a leading role in the activities of the organisation. They, along with parents, teachers, activists and community members, work with EE to improve schools in their communities, and they set an example to their peers through their dedication to their own education.</p>

        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">To find out more about Equal Education, visit <a href="http://www.equaleducation.org.za" target="_blank">www.equaleducation.org.za</a></span>             
              
            </div>
          </div>
        </div>
      </div>
     
    </div>
    
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h3>Government Data Sources</h3>
           <div class="collection">
            <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=ibIphhew3Eo%3D&tabid=759&mid=3094" target="_blank" class="collection-item        ECDoc">Eastern Cape Norms and Standards Implementation Plan</a>
            <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=P2PXp%2b%2bRskA%3d&tabid=759&mid=3094" target="_blank" class="collection-item ECDoc">Eastern Cape Infrastructure Plan</a>
            <a href="http://www.education.gov.za/LinkClick.aspx?fileticket=wEBI6jpG%2b7k%3d&tabid=615&mid=2034" target="_blank" class="collection-item ECDoc">ASIDI Eastern Cape Plan</a>
          </div>
        </div>
      </div>
    </div>
      
    </div>
    



</template>