<template name='contact'>
  <div class="container">
    
    <div class="contact">
      <h2>Contact Equal Education</h2>
      
      <p>If your school is struggling with water, electricity, sanitation, inappropriate structures, or if you have any other questions: </p>
      
      <p> <a href=mailto:joineeec@equaleducation.org.za class="waves-effect waves-light btn-large white-text">Email us: joineeec@equaleducation.org.za</a></p>
      <p> <a href=tel:+27436421616 class="waves-effect waves-light btn-large white-text">Phone us: +27 43 642 1616</a></p>
         
    </div>

  </div>
</template>


